---
import Layout from '../../layouts/Layout.astro'
import { SHOW_BUY_BUTTON } from 'astro:env/server'
import { getCollection, render } from 'astro:content'
import AmazonLogo from '../../components/AmazonLogo.astro'
import BookScore from '../../components/BookScore.astro'
import BuyButton from '../../components/BuyButton.astro'

export async function getStaticPaths() {
  const books = await getCollection('books')

  return books.map((book) => ({
    params: { id: book.slug },
    props: { book },
  }))
}

const { book } = Astro.props
const { data, slug } = book
const { title, author, img, readtime, buy, description } = data
const { Content } = await render(book)

export const prerender = true
---

<Layout>
  <div class='flex gap-12 mt-24'>
    <aside class='flex flex-col items-center gap-4'>
      <a href='/' class='hover:underline opacity-75 font-semibold'>
        ← Volver
      </a>
      <img
        transition:name={`img-${slug}`}
        src={`/${img}`}
        alt={title}
        class='rounded w-72 h-auto'
      />
      <BookScore server:defer id={slug}>
        <span slot='fallback' class='text-xs opacity-70'
          >Cargando puntuacion...</span
        >
      </BookScore>

      {SHOW_BUY_BUTTON && <BuyButton server:defer buy={buy} />}
    </aside>
    <main class='max-w-3xl'>
      <h1 transition:name={`title-${slug}`} class='text-4xl font-bold mb-4'>
        {title}
      </h1>
      <div class='prose prose-invert'>
        <Content />
      </div>
    </main>
  </div>
</Layout>
